*{
	padding: 0;
	margin: 0;
}

/*@font-face{
	font-family: 'Chalet';
	src: url("");
}no utilizare fuentes*/
body{
	background: #808080;
	color: #ffffff;
	font-family: verdana,helvetica;
	
}
h1{
	color: #ffffff;
	margin: 0.25em auto;
	text-align: right;
	max-width: 1100px;
	text-shadow: 5px 5px 5px #051EFF;
	-webkit-text-shadow: 5px 5px 5px #051EFF;
	-ms-text-shadow: 5px 5px 5px #051EFF;
	-o-text-shadow: 5px 5px 5px #051EFF;
	-moz-text-shadow: 5px 5px 5px #051EFF;
}
header,nav,footer{
	background: #005883;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	text-align: center;
}
header{
	background: #ffffff;
}

section#contenedor{
	margin: 0.5px auto;
	max-width: 960px;
	padding: 0;
	background: #808080;
	text-align: center;
	border-radius: 0.5em;


}
section#principal,aside,div{
	padding-top: 20px;
	padding-bottom: 20px;
	background: #005883;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 960px;
	min-height: 200px;
	vertical-align: top;
	width: 100%;

}


aside{
	width: 100%;
}
nav{
	text-align: left;
	background: #005883;
	padding-left: 5px;
	padding-top: 10px;
	width: 1000px;
	height: 45px;
	border: solid;
	border-color: #ffffff;
	border-radius-left: 10;
}


#primary_nav_wrap
{
	margin-top:15px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color: #F0B429;
	text-decoration:none;
	font-weight:700;
	font-size:17px;
	line-height:32px;
	padding:0 15px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0;
}


#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background: #005883;
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px;
	border: 1px solid;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}






figure{
	text-align: left;
	color: #005883;
}

ul{
	margin: auto;
	padding-top: 4px;
	
}
li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin: 4px;
	
}

a {
	color: #F0B429;
	text-decoration: none;
	font-size: 20px;

}
a: hover{
	text-shadow: 2px 2px #7b7474;
}
    

h3{
	color : #F0B429;
}

iframe{
	border: solid;
}
video{
	margin: auto;
	width: 900px;
	min-height: 400px;
}
article{

	border-radius: 0em;
	min-height: 140px;
	padding: 0.25em;
	text-align: justify;
	border: solid;
	width: 60%;
	margin: auto;
	margin-top: 1em;
	padding: 10px;
	background-image: url("../img/texture3.jpg");
}


article.autores{
	text-align: center;
	line-height:120%;
	
	
}

footer{
	text-align: right;
	padding-right: 5px;
	border: solid;
	border-color: #ffffff;
	font-size: 14px;
	font-variant: small-caps;
}